Body {
    background-color: #a9c1d3 !important;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 14px;
    line-height: 1.42857143;
    margin: 0;
}

.verticalCenter {
    display: flex;
    flex-direction: column;
    padding-top: 200px;
}